Source: yandex-PROJECT-static
Section: misc
Priority: optional
Maintainer: Yuriy Belyakov <belyan@yandex-team.ru>

Package: yandex-PROJECT-static
Architecture: all
Description: PROJECT_TITLE_EN: static files
